h1 {
  color: gold;
}
.hero-title {
  color: #333333;
  background-color: blue;
}
.hero-btn {
  background-color: #66ac66;
  color: #fff;
}
.hero-btn:hover {
  color: #66ac66;
  background-color: #fff;
}

.hero-btn:focus {
  background-color: #66ac66;
  color: #fff;
  border: 1px solid red;
}
.hero-btn:active {
  color: #66ac66;
  background-color: violet;
}
